* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(600px, 1500px) 1fr;
  grid-template-rows: auto auto auto auto;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  position: relative;

  min-height: 100vh;
}

h1 {
  font-size: 36px;
  letter-spacing: 4px;
  /* font-weight: 400; */
  position: absolute;
}

h3 {
  font-size: 24px;
  padding: 16px 0 16px 0;
}

.navProject {
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
  box-shadow: 0 0 10px gray;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.navProBtn {
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
  padding: 10px 16px;
}

.navProBtn:hover {
  background-color: rgba(149, 165, 166, 0.5);
}

.mainLetter {
  font-weight: bold;
}

.navPanel {
  display: flex;
}

.mainWrapper {
  border: 1px solid red;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  padding-bottom: 50px;
}

.headerImg {
  max-width: 100%;
  height: auto;
}

.mainLetterWrapper {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5px 20px;
  font-weight: bolder;
}

.mainContainer {
  border: 1px solid red;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  /* padding: 10px; */
  /* margin: 20px; */
}

.sectHouse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  padding-bottom: 50px;
}

.imgHouseUser {
  width: 100%;
}

.aboutContent {
  margin-bottom: 50px;
}

.userCards {
  display: flex;
  gap: 20px;
}

.imgUser {
    width: 100%;
    filter: grayscale(1);
}

.textProfession {
  color: #6c6c6c;
  padding-bottom: 20px;
}

.textProfessionInfo {
  padding-bottom: 20px;
}

.contactBtn {
  border: none;
  width: 100%;
  height: 40px;
  font-size: 17px;
}

.contactBtn:hover {
  background-color: rgba(149, 165, 166, 0.5);
}

.nameHouse {
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  gap: 10px;
}

.poweredFooter {
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;

  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
}

.w3Footer {
  color: white;
}
